.cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
    margin-top: 10px;
}

.view-cards-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 200px;
}